body {
    font-family: Arial, Helvetica, sans-serif;
}

body > h1:nth-child(1) {
    text-align: center;
}

.container {
    display: flex;
    padding: 10px;
    /* border: 1px solid black; */
    justify-content: center;
}

#surfmap-container {
    width: 50%;
    padding: 8px;
    /* border: 1px solid black; */
}

#ngl-container {
    width: 50%;
    padding: 8px;
    border: 1px solid black;
}


#svg-container {
    margin-top: 50px;
    text-align: center;
}


svg {
    /* border: 1px solid black; */
}

#viewport {
    width: 80%;
    height: 500px;
    margin: auto;
    border: 1px solid black;
}

#sequence-container {
    font-size: 11px;
}

#sequence-container .res-index {
    font-size: 9px;
    color: darkolivegreen
}

#sequence-container table {
    border-collapse: collapse;
}


#sequence-container [class^='res-'] {
    cursor: pointer;
}

#sequence-container .hovered {
    background-color: aqua;
}

#tooltip {
    width: 200px;
    font-size: 14px;
    text-align: center;
}